/* ====================================
// css variables
// ==================================== */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Sorts+Mill+Goudy&display=swap');

:root {
  --color-main: #fff;
  --color-special: #e33d26;
  --color-secondary: #ebede8;
  --color-third: #000;
  --font-main: 'Libre Franklin', sans-serif;
  --font-secondary: 'Sorts Mill Goudy', serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 320px;
  margin: auto;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

.home-hooker p,
.home-hooker h1,
.recipes-week h2,
footer h2 {
  font-family: var(--font-secondary);
}

header,
.hook-item,
.author-item,
.recipes-preview h1,
footer li {
  font-family: var(--font-main);
}

.home-hooker h1,
.home-hooker p,
.recipes-week h2,
article footer h1,
footer h2,
footer ul {
  line-height: 1.2;
}

header {
  padding: 17px 71px;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.home-hooker {
  text-align: center;
}

.home-hooker div {
  padding: 12px 17px 26px;
}

.hook-item {
  color: var(--color-main);
  background-color: var(--color-special);
  padding: 2px 15px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.home-hooker h1 {
  font-size: 24px;
  margin: 11px 0 12px;
}

.home-hooker p {
  margin-bottom: 13px;
}

.author-item {
  font-weight: 700;
  text-transform: uppercase;
}

.recipes-week {
  background-color: var(--color-secondary);
  padding: 31px 15px 18px;
}

.recipes-week h2 {
  font-size: 20px;
  font-weight: 700;
}

section a {
  text-decoration: none;
}

article {
  margin: 13px 0;
}

article header {
  height: 100%;
  padding: 0;
}

article header img {
  height: 100%;
}

article footer {
  background-color: var(--color-main);
  padding: 20px 20px;
  text-align: center;
  font-size: 17px;
  color: var(--color-third);
}

article footer h1 {
  font-weight: 400;
}

hr {
  border: solid 1px var(--color-third);
}

footer {
  background-color: var(--color-third);
  color: var(--color-main);
  padding: 30px 16px;
}

footer h2 {
  font-size: 20px;
}

footer ul {
  list-style-type: none;
}
